.BossProfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -200px;
  font-weight: bold;
}

.BossProfilPic {
  width: 700px;
  max-height: 450px;
}

.BossProfilInfo {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.BossProfilInfo p:not(:first-child) {
  margin-top: 40px;
}

.BossComp {
  text-align: center;
  margin-top: 35px;
}

.BossComp h3 {
  margin-bottom: 20px;
}

@media (max-width: 1150px) {
  .BossProfilPic {
    width: 40%;
  }
}

@media (max-width: 850px) {
  .BossProfilPic {
    width: 400px;
  }

  .BossComp {
    margin-top: 45px;
  }

  .BossProfil {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    text-align: center;
  }

  .BossProfilInfo {
    margin-left: 0;
    margin-top: 25px;
  }

  .BossProfilInfo p:not(:first-child) {
    margin-top: 20px;
  }
  
}

@media (max-width: 400px) {
  .BossProfilPic {
    max-width: 100%;
  }
}