.home-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  place-items: center;
}

.home-image {
  width: 100%;
  margin-bottom: 50px;
}

.home-text-container {
  border:solid 1px;
  border-radius: 10px;
  padding:20px;
  width: 90%;
  margin-bottom: 50px;
}

.home-text {
  margin-bottom: 30px;
}

.home-text-last {
  text-align: end;
  margin-top: 50px;
}