.wiki-result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wiki-infos {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
}

.wiki-search {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.wiki-searchbar {
  width: 400px;
  height: 25px;
}

.wiki-item-container {
  margin:50px;
}

.wiki-item {
  background-color: rgb(221, 221, 221);
  width: 500px;
  height: fit-content;
  border-radius: 40px;
  border: 1px solid black;
  color:#000000;
  font-size: 16px;
  font-weight: bold;
}

.wiki-item-container :hover {
  color: #3c7cdb;
}

.wiki-item-container:has(.wiki-item:hover):hover {
  transform: scale(1.2, 1.2);
}

.wiki-item-content {
  display: flex;
  margin:40px;
}

.wiki-item-content img {
  width: 150px;
  height: 150px;
  border-radius: 28px;
  border: 2px solid black;
}

.wiki-item-infos {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.wiki-item-infos ul {
  list-style:none;
}