.tkBody {
    place-items: center;
}

.tkTitle {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 50px;
}

.tkInfos {
    display: flex;
    align-items: center;
}

.tkInfosImage {
    max-width: 200px;
    margin-right: 60px;
}

.tkTips {
    margin-top: 50px;
    max-width: 80%;
    text-align: center;
}

.tkTipsBigger {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.tkBossList {
    display: flex;
    margin-top:60px;
    border-top: 2px solid rgb(221, 221, 221);
    padding-top: 60px;
    width: 70%;
    justify-content: center;
    margin-bottom:20px;
    font-size: 20px;
}

.tkBossSelect{
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
}

.tkBossSelect1{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
}

.tkBossSelect5{
    cursor: pointer;
    padding-left: 25px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
}

.tkBossSelected {
    cursor:default;
    font-size: 28px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.tkBossSelected1 {
    cursor:default;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.tkBossSelected5 {
    cursor:default;
    font-size: 28px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.tkBossSelect:hover{
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
    color:rgb(233, 111, 131);
}

.tkBossSelect1:hover{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 25px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
    color:rgb(233, 111, 131);
}

.tkBossSelect5:hover{
    cursor: pointer;
    padding-left: 25px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    align-content: center;
    color:rgb(233, 111, 131);
}